/* .detail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.detail__header {
    text-align: center;
}

.detail__img {
    position: relative;
    padding: 10px 20px;
    max-width: 500px;
    width: 100%;
}

.detail__title {
    display: inline-flex;
}
.detail__year {
    display: inline-flex;
    margin-left: 10px;
}

.detail__infoName {
    font-size: 20px;
    font-weight: bold;
    display: flex;
}

.detail__info {
    font-size: 14px;
    display: flex;
}

.detail__text {
    font-size: 14px;
    border: none;
    background-color: transparent;
    resize: none;
}

.detail__genres {
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}
.detail__genres li,
.detail__year {
    margin-right: 10px;
    font-size: 14px;
} */
.container {
    /* display: grid;
    grid-template-columns: repeat(1, minmax(400px, 1fr));
    grid-gap: 100px; */
    align-items: center;
    align-content: center;
    padding: 50px;
    width: 100%;
    padding-top: 70px;
}

.detail {
    background-color: white;
    margin-bottom: 70px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #adaeb9;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 2fr;
    grid-gap: 20px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
        0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.detail__title {
    display: inline;
    margin-bottom: 5px;
    font-size: 24px;
    color: #2c2c2c;
    text-decoration: none;
}

.detail__year {
    font-size: 18px;
    display: inline-flex;
    margin-left: 10px;
    font-weight: 300;
    text-decoration: none;
}

.detail__img {
    position: relative;
    max-width: 300px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.detail__infoName {
    font-size: 20px;
    font-weight: bold;
    display: flex;
}
.detail__info {
    font-size: 14px;
    display: flex;
}

.detail__text {
    font-size: 14px;
    border: none;
    background-color: transparent;
    resize: none;
}

.detail__genres {
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.detail__genres li {
    margin-right: 10px;
}

@media screen and (max-width: 1090px) {
    .container {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
